@model List<DATNQLBH.Models.CSDL.LoaiCap2>

@{
    ViewBag.Title = "Danh sách loại cấp 2";
    Layout = "~/Views/Shared/_LayoutNew.cshtml";
}

<div class="block">
    <h2>Danh sách loại cấp 2</h2>

    <div class="block-content block-content-full">
        <button class="btn btn-success" data-toggle="modal" data-target="#modal-top" type="button">Thêm sản phẩm</button>
    </div>
    <div class="block-header">
        <h3 class="block-title">Danh sách Loại Cấp 2 <small>Full</small></h3>
    </div>
    <div class="block-content">
        <!-- DataTables init on table by adding .js-dataTable-full class, functionality initialized in js/pages/base_tables_datatables.js -->
        <table class="table table-bordered table-striped js-dataTable-full" id="table">
            <thead>
                <tr>
                    <th class="text-center">ID</th>

                    <th class="hidden-xs">Tên loại cấp 2</th>
                    <th class="hidden-xs" style="width: 15%;">Tên Loại Cấp 1</th>
                    <th class="text-center" style="width: 10%;">Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
            {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.LoaiCap2Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LoaiCap1.Name)
                        </td>
                        @*<td>
                                @Html.DisplayFor(modelItem => item.ChiNhanh.Name)
                            </td>*@
                        <td>

                            <button class="btn btn-xs btn-default" type="button" data-toggle="tooltip" title="Sửa thông tin " onclick="window.open('/Item/Edit/@item.LoaiCap2Id')"><i class="fa fa-pencil"></i></button>
                            @*<button class="btn btn-xs btn-default" type="button" data-toggle="tooltip" title="Xoá loại cấp 2" onclick="XoaLoai2('@item.LoaiCap2Id')"><i class="fa fa-close"></i></button>*@
                        </td>
                    </tr>
                }




            </tbody>
        </table>
    </div>
</div>

<div class="modal fade" id="modal-top" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-top">
        <div class="modal-content">
            <div class="block block-themed block-transparent remove-margin-b">
                <div class="block-header bg-primary-dark">
                    <ul class="block-options">
                        <li>
                            <button data-dismiss="modal" type="button"><i class="si si-close"></i></button>
                        </li>
                    </ul>
                    <h3 class="block-title">Thêm Loại cấp 2</h3>
                </div>
                <div class="block-content">
                    <form class="js-validation-bootstrap form-horizontal" action="/LoaiCap2/Them/" method="post">
                       
                        @Html.AntiForgeryToken()
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="val-username">Tên Loại cấp 2 <span class="text-danger">*</span></label>
                            <div class="col-md-7">
                                <input class="form-control" type="text" id="NameCap2" name="NameCap2" placeholder="Nhập tên..">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="val-username">Loại cấp 1 <span class="text-danger">*</span></label>
                            <div class="col-md-7">
                                @Html.DropDownList("MaLoaiCap1",null,"--Chọn Loại Cấp 1--", new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-8 col-md-offset-4">
                                <button class="btn btn-sm btn-primary" type="submit" id="sumbitCreate" name="sumbitCreate">Submit</button>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-sm btn-default" type="button" data-dismiss="modal">Close</button>
                @*<button class="btn btn-sm btn-primary" type="button" data-dismiss="modal" id="CreateSumbit"><i class="fa fa-check"></i> Ok</button>*@
            </div>
        </div>
    </div>
</div>
<script>

   
   

</script>

