@model IEnumerable<DATNQLBH.Models.CSDL.KhoHang>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutNew.cshtml";
}

<div class="block">
    <div class="block-header">
        <h2>Danh sách kho hàng</h2>
        <p>
            @Html.ActionLink("Thêm mới", "Create")
        </p>
    </div>
    <div class="block-content">
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DiaChi)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SDT)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MaCN)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DiaChi)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SDT)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MaCN)
                    </td>
                    <td>
                        @Html.ActionLink("Sửa thông tin kho", "Edit", new { id = item.WarehouseID })

                      
                    </td>
                </tr>
            }

        </table>
    </div>
</div>
